* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* regole header */
header {
    height: 50px;
}

#logo {
    margin: 0 10px;
}

#logo-small {
    display: none;
}

form {
    flex-grow: 1;
    background-color: #e5e5e5;
    margin-inline: 10px;
    border-radius: 7px;
}

form a {
    color: #000;
    margin-inline: 7px;
}

#search-bar {
    border: hidden;
    background-color: #e5e5e5;
    width: calc(100% - 40px)
}

.icon i, .drop_down {
    margin-inline: 12px;
}

.fa-bell {
    color: #ff9002;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    border: hidden;
}

/* header versione tablet */
@media screen and (max-width:768px) {
    #logo {
        display: none;
    }

    #logo-small {
        display: block;
        width: 60px;
    }

    .icon {
        display: none;
    }
}

/* regole inferior */
#inferior {
    height: calc(100vh - 50px);
    display: flex;
}

/* regole aside */
aside {
    width: 150px;
    height: 100%;
    background-color: #051e34;
    color: #fff;
}

aside i {
    color: #fff;
}

nav {
    flex-grow: 1;
}

h6 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

/* versione tablet e mobile */
@media screen and (max-width:768px) {
    aside .col-5 {
        display: none;
    }
}

/* regole main */
main {
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
    font-size: .8rem;
}


/* main versione tablet con aside che si restringe */
@media screen and (max-width:768px) {
    aside {
        width: 60px;
    }

    main {
        width: calc(100% - 60px);
    }
}

/* regole sezione bread-crumb */
#bread_crumb{
    background-color: #1b72e8;
}

/* regole item */
.item {
    border: 1px solid #999;
    border-radius: 5px;
    min-height: 200px;
    margin: 15px 0;
}

.title {
    padding: 8px;
    border-bottom: 1px solid #999;
    background-color: #f7f7f7;
}

/* regole tabella primo item */
.first i {
    text-align: center;
    color: #fff;
    background-color: #f16450;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}
.btn {
    padding: .15rem .4rem;
}

.first {
    width: 40%;
    text-align: left;
}

td,th {
    text-align: center;
}

/* versione tablet */
@media screen and (max-width:768px) {
    .first {
        width: 30%;
    }
}

/* versione mobile */
@media screen and (max-width:576px) {
    .d-mobile {
        display: none;
    }
}

/* regole FAQ dropdow */
.dropdown {
    padding: 10px;
}

.dropdown .btn {
    width: 100%;
    border-bottom: 1px solid #999;
    border-radius: 0;
    padding-bottom: 10px;
}

#down {
    width: calc(100% - 20px);
    border: hidden;
    border-bottom: 1px solid #999;
    border-radius: 0;
    margin: 10px;
}

/* DEBUG */

#bread_crumb{
    min-height: 80px;
}
