* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* regole header */
header {
    height: 50px;
}

#logo {
    margin: 0 10px;
}

#logo-small {
    display: none;
}

form {
    flex-grow: 1;
    background-color: #e5e5e5;
    margin-inline: 10px;
    border-radius: 7px;
}

form a {
    color: #000;
    margin-inline: 7px;
}

#search-bar {
    border: hidden;
    background-color: #e5e5e5;
    width: calc(100% - 40px)
}

.icon i, .drop_down {
    margin-inline: 12px;
}

/* header versione tablet */
@media screen and (max-width:768px) {
    #logo {
        display: none;
    }

    #logo-small {
        display: block;
        width: 60px;
    }

    .icon {
        display: none;
    }
}

/* regole inferior */
#inferior {
    height: calc(100vh - 50px);
    display: flex;
}

/* regole aside */
aside {
    width: 150px;
    height: 100%;
    background-color: #051e34;
    color: #fff;
}

aside i {
    color: #fff;
}

nav {
    flex-grow: 1;
}

h6 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

/* versione tablet e mobile */
@media screen and (max-width:768px) {
    aside .col-5 {
        display: none;
    }
}

/* regole main */
main {
    width: calc(100% - 150px);
    height: 100%;
    overflow: auto;
}


/* main versione tablet con aside che si restringe */
@media screen and (max-width:768px) {
    aside {
        width: 60px;
    }

    main {
        width: calc(100% - 60px);
    }
}

/* DEBUG */

main {
    background-color: lightgreen;
}

